.titleComponent {
    margin-bottom: 5px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3px;
}

.importAndExport {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: flex-end;
    max-width: 60%;
}

.importButton {
    width: 200px;
    padding-right: 5px;
    display: flex;
    justify-self: center;
}

h2 {
    display: flex;
    justify-content: flex-start;
    margin-right: 5px;
}

.tableAndChart {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dataGrid {
    width: 50%;
    margin-right: 5px;
    max-height: 50vh;
}

.chart {
    width: 50%;
    height: 70vh;
    padding: 5px;
}

@media screen and (max-width: 1265px) {
    .titleComponent {
        width: 100%;
        padding: 5px;
    }

    .tableAndChart {
        display: contents;
    }

    .dataGrid {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .chart {
        width: 100%;
    }
}