.timeChartComponent {
    align-items: center;
    height: 80vh;
    margin: 5px;
}

.chartTypeForm {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.timeChart {
    height: 75vh;
    margin: 5px;
}

@media screen and (max-width: 1500px){
    .timeChartComponent {
        height: 70vh;
    }
}

@media screen and (max-width: 600px) {
    .timeChartComponent {
        height: 50vh;
    }
}