.timePage {
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 5px;
}

.tableAndOptions {
    height: auto;
    padding: 5px;
}

.titleRow {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

.firstRow {
    display: flex;
    margin: 2px;
    justify-content: space-between;
    align-items: center;
}

.datePickerRow {
    margin: 5px;
}

.importButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.selectSingleComponent {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

.secondRow {
    margin: 3px;
    display: flex;
    justify-content: center;
}

.selectMultiComponent {
    margin: 5px;
    width: 20%;
    height: 100%;
    justify-content: center;
}

.donutChart {
    height: 80vh;
}

@media screen and (max-width: 1060px) {
    .timePage {
        display: contents;
        justify-content: center;
    }

    .tableAndOptions {
        height: auto;
    }

    .donutChart {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .firstRow {
        display: flex;
        justify-content: space-between;
        margin: 5px;
    }

    .importButton {
        width: 100%;
        margin-left: 5px;
    }

    .datePickerRow {
        width: 55%;
    }

    .selectSingleComponent {
        width: 40%;
        justify-content: center;
    }

    .selectMultiComponent {
        width: 45%;
    }
}

@media screen and (max-width: 440px) {
    .datePickerRow {
        width: 100%;
        padding: 5px;
    }

    .selectSingleComponent {
        width: 100%;
    }
}